.logout {
    display: flex;
    height: 100vh;
}

.left{
    flex-grow: 1;
    background-color: #1FB6FF;
    text-align: center;
}

.right {
    flex-grow: 1;
    font-size: 25px;
    text-align: center;
    margin: 150px auto;
    background-color: #F4F7F6;
}

.form {
    background-color: white;
}

.form button {
    display: block;
    margin: 0 auto;
}