.btn {
    color: #fff;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    margin: 10px;
    padding: 5px 10px;
}

.blue {
    background-color: #238ABD;
    transition: background-color .3s linear;
}

.blue:hover {
    background-color: #1e77a2;
}


.grey {
    background-color: lightslategray;
    transition: background-color .3s linear;
}

.grey:hover {
    background-color: #56626e;
}