.friends {
    background-color: #FDFDFD;
    padding: 20px;
}

.title {
    margin-bottom: 20px;
}

.titleItem {
    display: inline-block;
    margin-right: 5px;
}

.titleItem::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #088dcd;
    text-align: center;
}

.titleItem button {
    font-size: 19px;
    font-weight: 400;
    color: #424242;
    background-color: #FDFDFD;
    border: none;
    cursor: pointer;
}

.title b {
    border: 1px solid #9f9494;
    border-radius: 5px;
    padding: 0 2px;
    font-weight: 400;
    margin-right: 20px;
}

