.friends {
    background-color: #FDFDFD;
    padding: 20px;
}

.titleItem {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    font-size: 19px;
    font-weight: 400;
    color: #424242;
    cursor: pointer;
}

.titleItem::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #088dcd;
    text-align: center;
}
