.message {
    display: flex;
    align-items: center;
    padding: 10px;
    /*border: 1px solid;*/
}

.avatar img {
    border-radius: 25px;
    width: 30px;
}

.text {
    margin-left: 10px;
    background-color: #d29a9a;
    max-width: 300px;
    width: 100%;
}